@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-color: #f4f4f5;
}

.card-container{
    margin: 1rem;
    width: 50%;
    background-color: white;
    display: flex;
    padding: 1rem;
    border-radius: 8px;
}
.title{
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.description{
    color: #71717a;
    margin: 1rem;
}

.active{
    margin-bottom: .5rem;
}

.icon{
    width: 5rem;
    height: 10rem;
}